@page
@model AzureDevOpsAPI.Pages.SprintsModel
@{
    ViewData["Title"] = "Sprints";
}

<div class="container row p-3 mt-5">
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th width="15%">Sprint Name</th>
                <th width="25%">Sprint URL</th>
                <th width="25%">Sprint Path</th>
                <th width="35%">Work Item Details</th>
            </tr>
        </thead>
        @foreach (var item in Model.SprintEntity.Sprints)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <a href=@item.Url target="_blank">@item.Url</a>
                </td>
                <td>
                    @item.Path
                </td>
                <td>
                    @foreach (var workItem in Model.SprintEntity.SprintWorkItems.Where(w => w.SprintName == item.Name))
                    {
                        <span><b>WorkItem Title: </b> 
                            <a asp-page="Sprints" asp-page-handler="UpdateWorkItems" asp-route-workItemId="@workItem.id">@workItem.fields.SystemTitle</a>
                        </span>
                        <br />

                        <span><b>WorkItem State: </b> @workItem.fields.SystemState</span>

                        <br />
                        <br />
                    }
                </td>
            </tr>
        }
    </table>
</div>
